.ipynb*
iac/.terraform
iac/.terraform.lock.hcl
iac/terraform.tfstate
iac/terraform.tfstate.backup
iac/tfplan
pinecone/
Design Document.docx
main copy.tf
.streamlit/
frontend/psychiatric_sop_assistant.py
frontend/app3.py
frontend/app2.py
datasets/
ui_design.png
styled.xlsx
iac_backup/
iac/iac-bedrock/.terraform*
iac/iac-bedrock/terraform*
iac/iac-bedrock/tfplan*
iac/iac-bedrock/lambda_ingest_payload.zip
iac/iac-streamlit/.terraform*
iac/iac-streamlit/terraform*
iac/iac-streamlit/tfplan*
iac/iac-streamlit/genAIapp.pem
linux_commands.txt
rag_prompt_analysis.ipynb
.github/
.devcontainer/
rag_guardrails-Copy1.ipynb
styled.xlsx
.devcontainer/